.gradle
.settings
/.idea/
/.vscode/
/run/
/build/
/eclipse/
.classpath
.project
/bin/
/config/
/out/

native/msdfgen-jni/build/
native/msdfgen-jni/msdfgen/
native/msdfgen-jni/cmake-build-*/

/out/
*.iml
*.ipr
*.iws
*.bat
*.DS_Store
!gradlew.bat
.factorypath
addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts
layout.json
